---
title: "Computers should make life easier"
date: 2006-03-26
comments: false
---

<div class='blogger'>
  <div class='post'>
    <span style="color: rgb(0, 0, 0);">If you find yourself sitting at your computer doing the same thing over and over, you are doing it wrong.<br /><br />Computers can perform repetative tasks with blazing speed and percision without getting tired or bored. Your computer won't complain if you ask it to add all of the numbers between 1 and a billion, nor will it accidentally skip 10,956,234.<br /><br />Knowing this to be true, why do I often see even expert computer users performing the same tasks a dosen times in a row? Why do programmers constantly write the same boiler plate code again and again? Why are companies constantly re-inventing the wheel?<br /><br />Computers are no longer the big fancy calculators of the industrial age, they are the hammer and nails of the information age. So why is all modern software written to run on platforms designed for big fancy calculators?<br /><br />Personal computing needs to be reinvented for the information age from the ground up.</span>  </div>
  </div>
</div>
