---
title: "Why so serious?"
date: 2008-09-16
comments: false
---

<div class='blogger'>
  <div class='post'>
    <p></p>  <p><a href="http://lh5.ggpht.com/SnprBoB86/SNB7IM68c5I/AAAAAAAAAP4/FgtlJkhh-Ng/s1600-h/image5.png"><img style="border-top-width: 0px; border-left-width: 0px; border-bottom-width: 0px; border-right-width: 0px" height="225" alt="image" src="http://lh4.ggpht.com/SnprBoB86/SNB7LUty4GI/AAAAAAAAAP8/RRTYkxRQf8M/image_thumb1.png?imgmax=800" width="244" border="0" /></a>&#160;</p>  <p>Software doesn't need to be serious all the time. Of course, this applies to games, software toys, and consumer focused products, but it also applies to enterprise class software.</p>  <p>Compare these two screen shots:</p>  <p><a href="http://lh5.ggpht.com/SnprBoB86/SNB7QPbk1HI/AAAAAAAAAQA/jaU5BwB6frg/s1600-h/image2.png"><img style="border-top-width: 0px; border-left-width: 0px; border-bottom-width: 0px; border-right-width: 0px" height="123" alt="image" src="http://lh3.ggpht.com/SnprBoB86/SNB7T6jbpqI/AAAAAAAAAQE/sGxg4IYvWuo/image_thumb.png?imgmax=800" width="244" border="0" /></a></p>  <p>&quot;Hurray, no spam here!&quot; versus</p>  <p><a href="http://lh6.ggpht.com/SnprBoB86/SNB7WkB7WGI/AAAAAAAAAQI/euLYaivvy8c/s1600-h/image8.png"><img style="border-top-width: 0px; border-left-width: 0px; border-bottom-width: 0px; border-right-width: 0px" height="166" alt="image" src="http://lh6.ggpht.com/SnprBoB86/SNB7YgTnevI/AAAAAAAAAQM/grlFaYfL1bE/image_thumb2.png?imgmax=800" width="244" border="0" /></a> </p>  <p>&quot;There are no items to show in this view.&quot;</p>  <p>Which message would you prefer to see each time you open your spam folder? Google's, of course.</p>  <p>Does Google's choice of words cause you to question the quality of their software? Do they cause you to question whether or not you can do serious work with their tools? Of course not.</p>  <p>Just because you are doing serious work, doesn't mean you need to be serious all the time. Research, anecdotes, and all the other evidence clearly show that a little bit of humor and personality injected into the workplace improves productivity and moral. Same goes for your software. Inject some personality. Include some humor. Everyone will be better off.</p>    </div>
  </div>
</div>
