---
title: "Rift is available on NXE!"
date: 2008-11-20
comments: false
---

<div class='blogger'>
  <div class='post'>
    <p>You can download the demo or purchase the game <a href="http://marketplace.xbox.com/en-US/games/media/66acd000-77fe-1000-9115-d80258550117/?gu=66acd000-77fe-1000-9115-d80258550117&amp;sb=1&amp;mt=32&amp;p=1&amp;of=0">on the web</a> or from the Community Games section of the Games Marketplace on your NXE dashboard. If you get it on the web, it will automatically be downloaded to your Xbox 360 the next time you sign in.</p>  <p>Sure, the game isn't worth the $1.75, but you can still pay for it anyway because you are super generous. And sure, the game has serious design flaws because it was put together in three days as a homework assignment. And sure, the game is loaded with performance issues because it was ported to XNA Framework 3.0 and &quot;polished&quot; for release in two evenings involving beer. But you are super generous.</p>  <p>Definitely check it and all the other great XNA Community Games launch titles. They all have free demos. Exciting times!</p>    </div>
  </div>
</div>
