---
title: "Rift"
date: 2008-05-18
comments: false
---

<div class='blogger'>
  <div class='post'>
    <p>Rift is a top-down shooter with a time-stopping twist. It was written in XNA by three Drexel students in three days:</p>  <ul>   <li>Brandon Bloom - Lead Programmer</li>    <li>Lee Baker - Programmer and Sound</li>    <li>Charbel El-Beyrouty - Artist</li> </ul>  <p>Watch the video:</p>  <p>   <div class="wlWriterSmartContent" id="scid:5737277B-5D6D-4f48-ABFC-DD9C333F4C5D:2e528dbd-a2d5-4635-8f49-47e881ef6164" style="padding-right: 0px; display: inline; padding-left: 0px; float: none; padding-bottom: 0px; margin: 0px; padding-top: 0px"><div><object width="425" height="350"><param name="movie" value="http://www.youtube.com/v/9UDHHzw7JI4&amp;hl=en"></param><param name="wmode" value="transparent"></param><embed src="http://www.youtube.com/v/9UDHHzw7JI4&amp;hl=en" type="application/x-shockwave-flash" wmode="transparent" width="425" height="350"></embed></object></div><label style="font-size:.8em;">(low quality, no sound, obvious recording artifacts -- I might have to buy Fraps)</label></div> </p>  <p>&#160;</p>  <p>Or download the game (with source):</p>  <p><a href="http://brandonbloom.name/rift.zip">http://brandonbloom.name/rift.zip</a></p>  <p>&#160;</p>  <p>Hope you enjoy it!</p>    </div>
  <h2>Comments</h2>
  <div class='comments'>
    <div class='comment'>
      <div class='author'>Brandon Bloom</div>    <div class='content'>
    Source is no longer included because I repackaged it and just forgot the source. Message me if you want the source (its hideous anyway :-)      </div>
    </div>
</div>
